<h1>Register</h1>
<form action="/profile/register" method="post">
  <div>
    <label for="name">NAME</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" >
  </div>
  <button type="submit" name="button">register</button>
</form>
<a href="/profile/login">login</a>
